<!DOCTYPE html>
<html lang="id">

<head>
  <title>bologhu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: 0; padding:0; background-color: #cccccc;">
<div style="margin: 0; padding:0;">
  <h2 style="padding: 15px; margin: 0;">Main Layout</h2>
  <div style="padding: 15px;">
    <a style="display: inline-block; color: #000000; font-weight: bold;" href="/">Home</a>
    <a style="display: inline-block; color: #000000; font-weight: bold;" href="/about">About</a>
  </div>
  <div style="margin: 15px; padding: 15px; background-color: #ffffff;">
    {{{body}}}
  </div>
</div>
</body>

</html>