<!DOCTYPE html>
<html lang="id">

<head>
    <title>bologhu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #ffffff;
            font-family: sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 1.4;
            margin: 10px;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            min-width: 360px;
        }


        .btn-confirm {
            margin: 0 auto;
            display: inline-block;
            color: #ffffff;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            padding: 4px 10px;
            text-transform: uppercase;
            background-color: #595a62;
        }

        .btn-confirm:hover {
            background-color: #54555a;
        }
    </style>
</head>

<body>
    <div style="margin: 0 0 15px 0;">Hi <strong>{{username}}</strong>,</div>

    <div style="margin: 0 0 15px 0;">
        Terima kasih sudah mendaftar di bologhu.com. Klik tombol dibawah untuk mengkonfirmasi data anda.
    </div>
    <div style="margin: 0 auto;">
        <a class="btn-confirm" href="{{url}}">Click this link</a>
    </div>

    <div style="margin: 15px 0;">Kind Regards,</div>
    <div><strong>admin@bologhu.com</strong></div>
</body>

</html>